{% extends "base.html.twig" %}

{% block title %}Edition du profil
{% endblock %}

{% block body %}

	<h1>Mon profil</h1>

	{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <div class="profil">
		{% if app.user.avatar %}
			<img style="width: 8rem;" src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" alt="Avatar" class="avatar">
		{% endif %}

        <p>Nom : {{ app.user.nom }}</p>
        <p>Prénom : {{ app.user.prenom }}</p>
        <p>Email : {{ app.user.email }}</p>
            </div>
	{% endif %}

{% endblock %}
