/*
 * Simple CSS reset
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

/*
 * Forms CSS
 */

form>div {
    display: flex;
    flex-direction: column;
}

form>div>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    max-width: 1280px;
    margin: 0 auto;

    label {
        display: inline-block;
        margin-right: 1rem;
        width: 14rem;
    }

    input,
    select,
    textarea {
        margin: 0.5rem 0;
        width: 40rem;
        padding: 0.5rem;
    }

    textarea {
        resize: none;
    }

    button,
    input[type="submit"] {
        width: fit-content;
        padding: 1rem 2rem;
        background-color: lightsalmon;
        border: none;
        border-radius: 1rem;
        font-size: 1.2rem;
        margin-top: 2rem;
    }

    button:hover,
    input[type="submit"]:hover {
        background-color: lightcoral;
        cursor: pointer;
    }

    input[type="checkbox"] {
        width: fit-content;
    }

    .input-file-container {
        width: 40rem;
        display: inline-block;
        place-items: center;
        text-align: center;
        background-color: #2d274f;
        padding: 2rem 3rem;
        border-radius: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }

    input[type='file'] {
        font-family: inherir;
        font-size: 1rem;
        color: #ccc;
        background-color: transparent;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    input[type="file"]::file-selector-button {
        background-color: #c789bc;
        color: #01072b;
        border: none;
        padding: 0.5rem 1rem;
        margin-right: 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
        content: "";
    }

    input[type="file"]::file-selector-button:hover {
        background-color: hsl(311, 36%, 56%);
    }
}

/*
 *
 */

body {
    background-color: #333;
}
